<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="main_master.master.cs" Inherits="AutoParts.main_master" %>

<!DOCTYPE html>

<html>
<head runat="server">

    <title>AutoParts Daniel Cunha</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="assets/images/main-logo.png" />
    <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="assets/icomoon/icomoon.css">
    <link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- script
    ================================================== -->
    <script src="assets/js/modernizr.js"></script>




    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server" />

        <div class="preloader-wrapper">
            <div class="preloader">
            </div>
        </div>

        <div class="search-popup">
            <div class="search-popup-container">

                <div role="search" class="search-form">
                    <input type="search" id="search-form" class="search-field" placeholder="Type and press enter" value="" name="s" />
                    <button type="submit" class="search-submit"><a href="#"><i class="icon icon-search"></i></a></button>
                </div>

                <h5 class="cat-list-title">Browse Categories</h5>

                <ul class="cat-list">
                    <li class="cat-list-item">
                        <a href="shop.html" title="Men Jackets">Men Jackets</a>
                    </li>
                    <li class="cat-list-item">
                        <a href="shop.html" title="Fashion">Fashion</a>
                    </li>
                    <li class="cat-list-item">
                        <a href="shop.html" title="Casual Wears">Casual Wears</a>
                    </li>
                    <li class="cat-list-item">
                        <a href="shop.html" title="Women">Women</a>
                    </li>
                    <li class="cat-list-item">
                        <a href="shop.html" title="Trending">Trending</a>
                    </li>
                    <li class="cat-list-item">
                        <a href="shop.html" title="Hoodie">Hoodie</a>
                    </li>
                    <li class="cat-list-item">
                        <a href="shop.html" title="Kids">Kids</a>
                    </li>
                </ul>
            </div>
        </div>
        <header id="header">
            <div id="header-wrap">
                <nav class="secondary-nav border-bottom">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-4 header-contact">
                            </div>
                            <div class="col-md-4 shipping-purchase text-center">
                                <p>Envios gratis!</p>
                            </div>
                            <div class="col-md-4 col-sm-12 user-items">
                                <ul class="d-flex justify-content-end list-unstyled">
                                    <li>
                                        <%if (Session["user_email"] == null || Session["isLogged"] == null)
                                        {%>
                                            <a href="login.aspx">
                                        <%}
                                        else
                                        {%>
                                            <a href="conta.aspx">
                                         <%}%>
                                            <i class="icon icon-user"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="carrinho.aspx">
                                            <i class="icon icon-shopping-cart"></i>
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
                <nav class="primary-nav padding-small">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-2 col-md-2">
                                <div class="main-logo">
                                    <a href="index.aspx">
                                        <img src="assets/images/main-logo.png" alt="logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-10">
                                <div class="navbar">

                                    <div id="main-nav" class="stellarnav d-flex justify-content-end right">
                                        <ul class="menu-list">

                                            <li class="menu-item has-sub">
                                                <a href="index.aspx" class="item-anchor active d-flex align-item-center" data-effect="Home">Inicio</a>                                     
                                            </li>

                                            <li class="menu-item has-sub">
                                                <a href="montra.aspx" class="item-anchor d-flex align-item-center" data-effect="Shop">Loja</a>                       
                                            </li>

                                          
                                            <li><a href="contact.html" class="item-anchor" data-effect="Contact">Contactos</a></li>

                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>



        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>


        
            <hr>

        <footer id="footer">
            <div class="container">
                <div class="footer-menu-list">
                    <div class="row d-flex flex-wrap justify-content-between">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-menu">
                                <h5 class="widget-title">Autoparts</h5>
                                <ul class="menu-list list-unstyled">
                                    <li class="menu-item">
                                        <a href="about.html">Sobre Nos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Condições </a>
                                    </li>                                 
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-menu">
                                <h5 class="widget-title">Serviço cliente</h5>
                                <ul class="menu-list list-unstyled">                                  
                                    <li class="menu-item">
                                        <a href="contact.html">Contactos</a>
                                    </li>                                  
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-menu">
                                <h5 class="widget-title">Contacta-nos</h5>
                                <p>
                                    Tens alguma pergunta ou sugestão? <a href="#" class="email">Daniel.Cunha.T0124247@edu.atec.pt</a>
                                </p>
                                
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-menu">
                                <h5 class="widget-title">Autoparts 2023</h5>
                                <p>Cras mattis sit ornare in metus eu amet adipiscing enim. Ullamcorper in orci, ultrices integer eget arcu. Consectetur leo dignissim lacus, lacus sagittis dictumst.</p>
                                <div class="social-links">
                                    <ul class="d-flex list-unstyled">
                                        <li>
                                            <a href="#">
                                                <i class="icon icon-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon icon-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon icon-youtube-play"></i>
                                            </a>
                                        </li>                                      
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </footer>

        <div id="footer-bottom">
            <div class="container">
                <div class="d-flex align-items-center flex-wrap justify-content-between">
                    <div class="copyright">
                        <p>
                            Daniel Cunha
                        </p>
                    </div>
                    <div class="payment-method">
                        <p>Metodos de Pagamento: </p>
                        <div class="card-wrap">
                            <img src="assets/images/mastercard.png" alt="mastercard">
                            <img src="assets/images/paypal.png" alt="paypal">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/65413989f2439e1631ea6bbd/1he3chgh0';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->





        <script src="assets/js/jquery-1.11.0.min.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/script.js"></script>



    </form>
</body>
</html>
